.course{
    margin: 20px 20px 20px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
}

.course img{
    width: 250px;
    height: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 10px ;
    image-rendering: auto;
}

.add-course-btn{
    background-color: aqua;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: black;
    font-size: larger;
}

.add-course-btn:hover{
    background-color: aquamarine;
    color: black;
}