/* main page */

.main-page{
    display: grid;
    grid-template-columns: 70% 30%;
  }

/* course page */

.courses-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: aliceblue;
}
.header{
    background-color: rgba(135, 218, 233, 0.555);
    height: 90px;
    color: black;
    text-align: center;
    border-radius: 15px;
    padding: 10px 80px 10px 80px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.courses-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


/* Dashboard */

.dashboard{
    background-color: snow;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 3px;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 5px;
}

/* break buttons */

.add-a-break{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 80%;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 5px;
}

.break-btn{
    background-color: aqua;
    padding: 12px;
    border-radius: 40px;
}

.break-btn:hover{
    background-color: aquamarine;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 80%;
    background-color: aliceblue;
    padding: 15px;
}

/* complete session  */

.complete-button{
    background-color: aquamarine;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.complete-button:hover{
    background-color: aqua;
}